@media (max-width: 575px) {
  .container {
    margin: 0;
  }
}
a:hover,
a:focus {
  text-decoration: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ebebeb;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
  padding: 0;
}

#content {
  padding-bottom: 475px;
  /* Height of the footer element */
}
@media (min-width: 768px) {
  #content {
    padding-bottom: 310px;
  }
}

#footer {
  width: 100%;
  height: 475px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  #footer {
    height: 310px;
  }
}

html, body {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 375px) {
  .header {
    min-height: 665px;
  }
}
.header .button--elegant {
  position: absolute !important;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  bottom: 10%;
}

.header--main {
  background-image: url("img/header/header-main.jpg");
}

.header--shop {
  background-image: url("img/header/header-shop.jpg");
}
.header--shop .header__writings {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.header--shop .header__writings h1 {
  color: #fff;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
}

body.single-product .header--shop {
  min-height: auto;
  background-image: none;
}

.header--no-bg {
  height: 40px;
}

.wrapper {
  background-color: red;
}

.signiture {
  font-style: italic;
  font-family: 'Droid Serif', serif;
  font-size: 1.2em;
  margin-top: 30px;
}

.what-i-do {
  background-color: #2C3E50;
}
@media (max-width: 767px) {
  .what-i-do__item {
    margin-bottom: 50px;
  }
}

.my-values {
  background: url("img/my-values.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.my-values ol {
  padding: 0;
  font-size: 1.8em;
  margin: auto;
  display: inline-block;
  list-style-type: none;
  line-height: 1.7;
  position: relative;
}
@media (min-width: 576px) {
  .my-values ol:after, .my-values ol:before {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #a5a0a4;
    display: block;
    position: absolute;
    top: 50%;
  }
  .my-values ol:after {
    left: 250px;
  }
  .my-values ol:before {
    right: 250px;
  }
}
@media (min-width: 768px) {
  .my-values ol:after, .my-values ol:before {
    width: 130px;
  }
  .my-values ol:after {
    left: 280px;
  }
  .my-values ol:before {
    right: 280px;
  }
}
@media (min-width: 992px) {
  .my-values ol:after, .my-values ol:before {
    width: 150px;
  }
  .my-values ol:after {
    left: 320px;
  }
  .my-values ol:before {
    right: 320px;
  }
}
.my-values ol li {
  position: relative;
  counter-increment: customlistcounter;
}
.my-values ol li:before {
  content: "#" counter(customlistcounter);
  margin-right: 10px;
}

.contact-me {
  background-color: #2C3E50;
}
.contact-me .form-container {
  width: 90%;
  margin: auto;
  max-width: 500px;
}
.contact-me textarea {
  width: 100%;
  max-height: 150px;
  padding: 8px 12px;
}

.section--shop {
  background-color: #2C3E50;
  color: #fff;
}

.section--video {
  background: #2C3E50;
  color: #fff;
}
.section--video .single-video-container {
  max-width: 700px;
  margin: 50px auto;
}
.section--video .video-title {
  font-weight: normal;
  margin: 20px 0;
}

#footer {
  padding: 40px 0 0;
}
#footer .row {
  justify-content: space-between;
}
#footer form {
  position: relative;
  max-width: 350px;
  margin: auto;
}
#footer .button--dark-blue {
  height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #footer .button--dark-blue {
    height: auto;
  }
}
#footer .subscribe-label {
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #footer .subscribe-label {
    text-align: left;
  }
  #footer form {
    margin: 0;
  }
}

#subscribe-email {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid #2C3E50;
}

.footer__last-line {
  text-align: center;
}
@media (min-width: 768px) {
  .footer__last-line {
    display: flex;
    justify-content: space-between;
  }
}
.footer__last-line p {
  font-size: .8em;
}
.footer__last-line .author a {
  color: #2C3E50;
  text-decoration: none !important;
}
.footer__last-line .author a:hover {
  color: #3e5871;
}
.footer__last-line .copyright {
  margin-bottom: 5px;
}

#nav--main {
  animation-delay: .3s;
  z-index: 100;
  transition: all .8s;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 60px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 0 0;
}
@media (min-width: 992px) {
  #nav--main {
    padding: 0 0 3px 0;
  }
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #nav--main {
    padding-top: 8px;
  }
}

#nav--main.scrolledNav {
  transition: all .8s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  background-color: #415161;
  min-height: 30px;
}
@media (max-width: 767px) {
  #nav--main.scrolledNav {
    padding-bottom: 5px;
  }
}
@media (min-width: 768px) {
  #nav--main.scrolledNav {
    padding-bottom: 5px;
  }
}
@media (min-width: 992px) {
  #nav--main.scrolledNav {
    padding-bottom: 0;
  }
}

#navbarToggler {
  width: 100%;
  clear: both;
}
#navbarToggler > ul {
  padding-left: 15px;
}

.navbar-light .navbar-brand {
  padding-left: 15px;
  color: #fff;
  transition: color .4s;
}
.navbar-light .navbar-brand:hover {
  color: #525252;
}

.cart-customlocation,
.menu-item a {
  display: block;
  padding: 8px 8px 8px 30px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: left center;
  color: #e4e4e4;
  transition: all .4s;
}
.cart-customlocation:focus, .cart-customlocation:hover,
.menu-item a:focus,
.menu-item a:hover {
  color: #fff;
}
.navbar-light .navbar-nav .current-menu-item > a {
  color: #fff;
}
.navbar-light .navbar-nav .home-link > a {
  background-image: url("img/header/nav-icons/home.png");
  background-position: left 45%;
}
.navbar-light .navbar-nav .video-link > a {
  background-image: url("img/header/nav-icons/video.png");
}
.navbar-light .navbar-nav .shop-link > a {
  background-image: url("img/header/nav-icons/shirt.png");
}
.navbar-light .navbar-nav .user-link > a {
  background-image: url("img/header/nav-icons/user.png");
}

@media (min-width: 992px) {
  .menu-item:not(:first-child) {
    padding-left: 15px;
  }
}

.header__arrows {
  width: 16px;
  position: absolute !important;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  bottom: 4%;
}

.navbar-toggler {
  height: 40px;
  cursor: pointer;
  margin-right: 15px;
  outline: none !important;
}
.navbar-toggler.togglerScrolled {
  height: 35px;
}

.hamburger-menu {
  transition: all .2s;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background-color: #c56a6c;
  display: block;
}
.hamburger-menu:not(:first-child) {
  margin-top: 5px;
}
.hamburger-menu:first-child {
  transform: translateX(4.4px) rotate(45deg);
  transform-origin: 10% 10%;
}
.hamburger-menu:nth-child(2) {
  opacity: 0;
}
.hamburger-menu:nth-child(3) {
  transform: translateX(4.4px) rotate(-45deg);
  transform-origin: 10% 90%;
}
.hamburger-menu.hambgScrolled {
  width: 20px;
  height: 1px;
}
.hamburger-menu.hambgScrolled:first-child {
  transform: translateX(1.99px) rotate(45deg);
  transform-origin: 10% 10%;
}
.hamburger-menu.hambgScrolled:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.hambgScrolled:nth-child(3) {
  transform: translateX(1.99px) rotate(-45deg);
  transform-origin: 10% 90%;
}

#nav--main button.navbar-toggler {
  border-color: #c56a6c;
}
#nav--main .navbar-toggler.collapsed {
  border-color: #e4e4e4;
}
#nav--main .navbar-toggler.collapsed .hamburger-menu {
  background-color: #e4e4e4;
}
#nav--main .navbar-toggler.collapsed .hamburger-menu:first-child {
  transform: translateX(0) rotate(0);
}
#nav--main .navbar-toggler.collapsed .hamburger-menu:nth-child(2) {
  opacity: 1;
}
#nav--main .navbar-toggler.collapsed .hamburger-menu:nth-child(3) {
  transform: translateX(0) rotate(0);
}

.button, #shop-section .shop-item-link--added ~ .added_to_cart, .woocommerce table.shop_table input[type="submit"] {
  font-size: 1.2em;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 4px 20px;
  text-decoration: none !important;
  outline: none !important;
  transition: background-color .4s;
}
.button:hover, #shop-section .shop-item-link--added ~ .added_to_cart:hover, .woocommerce table.shop_table input[type="submit"]:hover {
  cursor: pointer;
}

.button--elegant {
  background-color: #8c868b;
}
.button--elegant:focus {
  color: whitesmoke;
}
.button--elegant:hover, .button--elegant:active {
  background-color: #c56a6c;
  color: whitesmoke;
}

.button--dark-blue {
  background-color: #2C3E50;
}
.button--dark-blue:hover, .button--dark-blue:active {
  background-color: #c56a6c;
}

.woocommerce .return-to-shop a.button, .woocommerce .return-to-shop #shop-section .shop-item-link--added ~ a.added_to_cart, #shop-section .woocommerce .return-to-shop .shop-item-link--added ~ a.added_to_cart,
#customer_login form input.woocommerce-Button.button,
#customer_login form #shop-section .shop-item-link--added ~ input.woocommerce-Button.added_to_cart,
#shop-section #customer_login form .shop-item-link--added ~ input.woocommerce-Button.added_to_cart,
#customer_login form .woocommerce table.shop_table input.woocommerce-Button[type="submit"],
.woocommerce table.shop_table #customer_login form input.woocommerce-Button[type="submit"],
#shop-section form input[name="wc_reset_password"] + input.woocommerce-Button.button,
#shop-section form .shop-item-link--added ~ input[name="wc_reset_password"] + input.woocommerce-Button.added_to_cart,
#shop-section form input.shop-item-link--added[name="wc_reset_password"] + input.woocommerce-Button.added_to_cart,
#shop-section form .woocommerce table.shop_table input[name="wc_reset_password"] + input.woocommerce-Button[type="submit"],
.woocommerce table.shop_table #shop-section form input[name="wc_reset_password"] + input.woocommerce-Button[type="submit"] {
  background-color: transparent;
  color: #fff;
  font-weight: normal;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 6px 17px;
  font-size: 1.2em;
}
.woocommerce .return-to-shop a.button:hover, .woocommerce .return-to-shop #shop-section .shop-item-link--added ~ a.added_to_cart:hover, #shop-section .woocommerce .return-to-shop .shop-item-link--added ~ a.added_to_cart:hover,
#customer_login form input.woocommerce-Button.button:hover,
#customer_login form #shop-section .shop-item-link--added ~ input.woocommerce-Button.added_to_cart:hover,
#shop-section #customer_login form .shop-item-link--added ~ input.woocommerce-Button.added_to_cart:hover,
#customer_login form .woocommerce table.shop_table input.woocommerce-Button[type="submit"]:hover,
.woocommerce table.shop_table #customer_login form input.woocommerce-Button[type="submit"]:hover,
#shop-section form input[name="wc_reset_password"] + input.woocommerce-Button.button:hover,
#shop-section form .shop-item-link--added ~ input[name="wc_reset_password"] + input.woocommerce-Button.added_to_cart:hover,
#shop-section form input.shop-item-link--added[name="wc_reset_password"] + input.woocommerce-Button.added_to_cart:hover,
#shop-section form .woocommerce table.shop_table input[name="wc_reset_password"] + input.woocommerce-Button[type="submit"]:hover,
.woocommerce table.shop_table #shop-section form input[name="wc_reset_password"] + input.woocommerce-Button[type="submit"]:hover {
  background-color: #c56a6c;
}

.quote {
  color: #fff;
  border-left: 10px solid;
  padding-left: 30px;
  line-height: 1.6;
  font-weight: bold;
  font-style: italic;
  font-family: 'Droid Serif', serif;
}

.quote--header {
  font-size: 1.3em;
  width: 80%;
  max-width: 1200px;
  border-color: #a5a0a4;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  animation-delay: .6s;
}
@media (min-width: 400px) {
  .quote--header {
    font-size: 1.6em;
  }
}
@media (min-width: 500px) {
  .quote--header {
    font-size: 2.1em;
  }
}
@media (min-width: 768px) {
  .quote--header {
    font-size: 2.5em;
  }
}
@media (min-width: 992px) {
  .quote--header {
    font-size: 3em;
  }
}

.quote--footer {
  color: #2C3E50;
  width: 90%;
  max-width: 400px;
  margin: 40px auto;
  font-size: 1.2em;
  border-color: #2C3E50;
}
@media (min-width: 768px) {
  .quote--footer {
    margin: 0 auto 20px auto;
  }
}

#shop-section .col-lg-3,
#shop-section .col-md-6 {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
#shop-section .shop-item-link {
  color: #fff !important;
  transition: box-shadow .4s;
}
#shop-section .shop-item-link:hover {
  box-shadow: 0 1px 5px 5px rgba(154, 154, 154, 0.62);
}
#shop-section .shop-item-link:hover .shop-item-card {
  border-radius: 0;
}
#shop-section .shop-item-link--added .item-img {
  opacity: .4;
  transition: opacity .6s;
}
#shop-section .shop-item-link--added .shop-item-card:before {
  content: "Added";
  z-index: 20;
  width: 170px;
  height: 170px;
  color: #fff;
  letter-spacing: 1px;
  display: block;
  position: absolute;
  line-height: 170px;
  font-size: 1.5em;
  font-weight: bold;
}
#shop-section .shop-item-link--added ~ .button--add-to-cart, #shop-section .shop-item-link--added ~ .added_to_cart, #shop-section .shop-item-link--added ~ a.reset_variations, #shop-section div[class*="product-"] .shop-item-link--added ~ .single_add_to_cart_button, #shop-section .woocommerce table.shop_table .shop-item-link--added ~ input[type="submit"], .woocommerce table.shop_table #shop-section .shop-item-link--added ~ input[type="submit"], #shop-section .woocommerce table.shop_table .shop-item-link--added ~ .view, .woocommerce table.shop_table #shop-section .shop-item-link--added ~ .view {
  transition: opacity 1s;
  opacity: 0;
}
#shop-section .shop-item-link--added ~ .added_to_cart {
  position: absolute;
  bottom: 10px;
  text-align: center;
}
#shop-section .shop-item-link--added ~ .added_to_cart {
  opacity: 1;
  background-color: #c56a6c;
}
#shop-section .shop-item-card {
  max-width: 220px;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 15px 15px 35px 15px;
  text-align: center;
  transition: all .6s;
}
#shop-section .item-title {
  color: #fff;
  font-size: 1.5em;
  margin: 15px 0;
  font-weight: normal;
}
#shop-section .item-img {
  max-width: 170px;
}
#shop-section .item-price, #shop-section div[class*="product-"] .summary.entry-summary .woocommerce-Price-amount {
  color: #e0ea3f;
  font-size: 1.2em;
}
#shop-section .item-price ins, #shop-section div[class*="product-"] .summary.entry-summary .woocommerce-Price-amount ins {
  text-decoration: none;
}

.button--add-to-cart, #shop-section .shop-item-link--added ~ .added_to_cart, a.reset_variations, #shop-section div[class*="product-"] .single_add_to_cart_button, .woocommerce table.shop_table input[type="submit"], .woocommerce table.shop_table .view {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  color: #fff !important;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 2px 17px;
}
.button--add-to-cart:hover, #shop-section .shop-item-link--added ~ .added_to_cart:hover, a.reset_variations:hover, #shop-section div[class*="product-"] .single_add_to_cart_button:hover, .woocommerce table.shop_table input[type="submit"]:hover, .woocommerce table.shop_table .view:hover {
  text-decoration: none;
  color: #fff;
  background-color: #c56a6c;
}

a.reset_variations {
  position: static;
  transform: translate(0, 0);
  margin-left: 15px;
}
a.reset_variations:after {
  content: " selection";
}

body.post-type-archive-product .woo-container {
  text-align: center;
}

.cart-customlocation {
  margin-left: 15px;
  text-align: left;
  background-image: url("img/header/nav-icons/cart.png");
}

.kvc_pagination {
  position: absolute !important;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  clear: both;
  font-size: 16px;
  line-height: 13px;
}

.kvc_pagination span, .kvc_pagination a {
  display: block;
  float: left;
  margin: 2px 2px 2px 0;
  padding: 6px 9px 5px 9px;
  text-decoration: none;
  width: auto;
  color: #fff;
  background: #555;
}

.kvc_pagination a:hover {
  color: #fff;
  background: #c56a6c;
}

.kvc_pagination .current {
  padding: 6px 9px 5px 9px;
  background: #c56a6c;
  color: #fff;
}

#shop-section div[class*="product-"] .product_title {
  padding-bottom: 10px;
}
#shop-section div[class*="product-"] .slick-list.draggable {
  margin: 0;
}
#shop-section div[class*="product-"] .slick-slide {
  margin-left: 0;
}
#shop-section div[class*="product-"] .summary.entry-summary .woocommerce-Price-amount {
  display: block;
  padding-top: 15px;
  font-size: 2em;
}
@media (min-width: 768px) {
  #shop-section div[class*="product-"] .summary.entry-summary .woocommerce-Price-amount {
    padding-top: 50px;
  }
}
#shop-section div[class*="product-"] .input-text.qty {
  width: 40px;
  text-align: center;
}
#shop-section div[class*="product-"] .single_add_to_cart_button {
  position: static;
  transform: translate(0, 0);
  background-color: transparent;
  margin: 30px 0;
}
#shop-section div[class*="product-"] .posted_in {
  display: block;
}
#shop-section div[class*="product-"] .posted_in a {
  color: #c56a6c;
}
#shop-section div[class*="product-"] .posted_in a:hover {
  color: #b54749;
}
#shop-section div[class*="product-"] .tabs.wc-tabs {
  display: none;
}
#shop-section div[class*="product-"] .woocommerce-Tabs-panel {
  margin: 20px 0;
}
#shop-section div[class*="product-"] .up-sells h2,
#shop-section div[class*="product-"] .related.products h2 {
  margin: 20px 0;
}
@media (max-width: 767px) {
  #shop-section div[class*="product-"] .up-sells h2,
  #shop-section div[class*="product-"] .related.products h2 {
    text-align: center;
  }
}
#shop-section div[class*="product-"].product.type-product.sale .onsale {
  font-size: 1.3em;
}
#shop-section div[class*="product-"].product.type-product.sale .onsale::before {
  content: "( ";
  vertical-align: text-bottom;
}
#shop-section div[class*="product-"].product.type-product.sale .onsale::after {
  content: " )";
  vertical-align: text-bottom;
}
#shop-section div[class*="product-"].product.type-product.sale .product_title {
  display: inline-block;
}
#shop-section div[class*="product-"].product.type-product.sale .price del, #shop-section div[class*="product-"].product.type-product.sale .price ins {
  display: inline-block;
  margin-right: 15px;
}
#shop-section div[class*="product-"].product.type-product.sale .price ins {
  text-decoration: none;
}
#shop-section div[class*="product-"].product-type-variable .summary.entry-summary .woocommerce-Price-amount {
  display: inline-block;
}
#shop-section div[class*="product-"].product-type-variable .variations_form .woocommerce-Price-amount.amount {
  padding: 10px 0;
}
#shop-section div[class*="product-"].product-type-variable .variations_form .woocommerce-variation-price del {
  display: none !important;
}
#shop-section div[class*="product-"].product-type-variable .variations_form label {
  margin-bottom: 0;
  margin-right: 15px;
}
#shop-section div[class*="product-"].product-type-variable .variations {
  overflow: hidden;
}
#shop-section div[class*="product-"].product-type-grouped form.cart {
  white-space: nowrap;
  overflow: auto;
}
#shop-section div[class*="product-"].product-type-grouped form.cart label {
  margin-bottom: 0;
}
#shop-section div[class*="product-"].product-type-grouped form.cart td {
  padding-right: 22px;
}
#shop-section div[class*="product-"].product-type-grouped form.cart td.label a {
  color: #c56a6c;
}
#shop-section div[class*="product-"].product-type-grouped form.cart td.label a:hover {
  color: #b54749;
}
#shop-section div[class*="product-"].product-type-grouped form.cart td.price .woocommerce-Price-amount.amount {
  display: block;
  padding-top: 0;
  font-size: 1em;
}
#shop-section div[class*="product-"].product-type-grouped .price .woocommerce-Price-amount {
  display: inline-block;
}
#shop-section div[class*="product-"] .price__range-dash {
  vertical-align: super;
  display: inline-block;
  padding: 0 3px;
}
#shop-section div[class*="product-"] .quantity:before {
  content: "QTY";
  display: inline-block;
  margin-right: 22px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #shop-section div[class*="product-"] .woocommerce-product-gallery__image.single-product-main-image {
    width: 70%;
  }
}

body.woocommerce-cart .wc-proceed-to-checkout {
  padding: 0;
}
body.woocommerce-cart .cart-collaterals .cart_totals {
  float: none;
  margin: auto;
}
body.woocommerce-cart .cross-sells {
  display: none;
}
body.woocommerce-cart #woo_pp_ec_button {
  padding: 0;
}

#customer_login {
  justify-content: space-between;
}
#customer_login form {
  min-width: 100%;
}

.woocommerce-MyAccount-navigation {
  text-align: left;
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--edit-address {
  display: none;
}

.woocommerce-account {
  background-color: #2C3E50;
}
.woocommerce-account .woocommerce a {
  color: #e4e4e4;
}
.woocommerce-account .woocommerce a:hover {
  color: #e6e6e6;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content a {
  color: #c56a6c;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content a:hover {
  color: #b54749;
}
.woocommerce-account .woocommerce-MyAccount-content {
  text-align: left;
}

.woocommerce form.woocommerce-ResetPassword {
  text-align: center;
}
.woocommerce form.woocommerce-ResetPassword .woocommerce-form-row {
  float: none;
  margin: auto;
  display: block;
}

.woocommerce table.shop_table .product-name a {
  color: #c56a6c;
}
.woocommerce table.shop_table .product-name a:hover {
  color: #b54749;
}
.woocommerce table.shop_table .woocommerce-Price-amount {
  color: #e0ea3f;
}
.woocommerce table.shop_table .actions {
  position: relative;
  padding: 9px 12px;
}
.woocommerce table.shop_table .coupon {
  display: flex;
}
@media (min-width: 768px) {
  .woocommerce table.shop_table .coupon {
    position: absolute !important;
    top: 50% !important;
    transform: translate(0, -50%) !important;
  }
}
.woocommerce table.shop_table .coupon #coupon_code {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .woocommerce table.shop_table .coupon #coupon_code {
    width: 110px;
  }
}
.woocommerce table.shop_table input[type="submit"] {
  position: static;
  transform: translate(0, 0);
  background-color: transparent;
  font-weight: normal;
  padding: 5px 10px;
}
.woocommerce table.shop_table input[type="submit"][name="apply_coupon"] {
  margin-left: 10px;
}
.woocommerce table.shop_table input.button:disabled[disabled], .woocommerce table.shop_table #shop-section .shop-item-link--added ~ input.added_to_cart:disabled[disabled], #shop-section .woocommerce table.shop_table .shop-item-link--added ~ input.added_to_cart:disabled[disabled], .woocommerce table.shop_table input[type="submit"]:disabled[disabled] {
  padding: 5px 10px;
}
.woocommerce table.shop_table .view {
  position: static;
  transform: translate(0, 0);
  background-color: transparent;
}

.woocommerce-Message > a.woocommerce-Button.button, #shop-section .woocommerce-Message > .shop-item-link--added ~ a.woocommerce-Button.added_to_cart,
#shop-section div.woocommerce-message > a {
  background-color: #2C3E50;
  color: #fff;
}
.woocommerce-Message > a.woocommerce-Button.button:hover, #shop-section .woocommerce-Message > .shop-item-link--added ~ a.woocommerce-Button.added_to_cart:hover,
#shop-section div.woocommerce-message > a:hover {
  background-color: #c56a6c;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
