@mixin abs-centered($pos:both) {
	position: absolute!important;

	@if ($pos ==both) {
		top: 50%!important;;
		left: 50%!important;;
		transform: translate(-50%,-50%)!important;;
	}

	@else if ($pos == horizontal) {
		left: 50%!important;;
		transform: translate(-50%,0)!important;;
	}

	@else if ($pos == vertical) {
		top: 50%!important;;
		transform: translate(0,-50%)!important;;
	}
	
}