$color-nav-links:#e4e4e4;
$color-elegant-gray:#a5a0a4;
$color-elegant-red:#c56a6c;
$color-body:#ebebeb;
$color-price:#e0ea3f;
$color-dark-blue:#354b60;

$text-primary:#212121;
$text-secondary:#757575;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xlg: 1200px;