.header {
	position: relative;
	min-height: 550px;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	@media(min-width: 375px){
		min-height: 665px;
	}
	.header__arrows {
		@include abs-centered(horizontal);
		bottom: 4%;
		width: 16px;
	}
	.button--elegant {
		@include abs-centered(horizontal);
		bottom: 10%;
	}
}

.header--main {
	background-image: url('img/header/header-main.jpg');
}

.header--shop {
	background-image: url('img/header/header-shop.jpg');
	background-position-y:bottom;
	.header__writings {
		@include abs-centered();
		h1 {
			font-weight: normal;
			text-align: center;
			letter-spacing: 2px;
			color: #fff;
		}
	}
}

.header--no-bg {
	height: 40px;
}