.signiture {
	margin-top: 30px;
	font-size: 1.2em;
	font-family: 'Droid Serif', serif;
	font-style: italic;
}

.what-i-do {
	background-color: $color-dark-blue;
	@media(max-width: $screen-md - 1){
		&__item {
			margin-bottom: 50px;
		}
	}
}

.my-values {
	background: url('img/my-values.jpg') no-repeat;
	background-size: cover;
	background-position: center bottom;
	ol {
		position: relative;
		display: inline-block;
		margin: auto;
		padding: 0;
		font-size: 1.8em;
		list-style-type: none;
		line-height: 1.7;
		@media(min-width: $screen-sm){
			&:after,
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				display: block;
				width: 100px;
				height: 2px;
				background-color: $color-elegant-gray;
			}
			&:after {
				left: 250px;
			}
			&:before {
				right: 250px;
			}
		}
		@media(min-width: $screen-md){
			&:after,
			&:before {
				width: 130px;
			}
			&:after {
				left: 280px;
			}
			&:before {
				right: 280px;
			}
		}
		@media(min-width: $screen-lg){
			&:after,
			&:before {
				width: 150px;
			}
			&:after {
				left: 320px;
			}
			&:before {
				right: 320px;
			}
		}
		li {
			position: relative;
			counter-increment: customlistcounter;
			&:before {
				 content: "#" counter(customlistcounter);
		         margin-right: 10px;
			}
		}
	}
}

.contact-me {
	background-color: $color-dark-blue;
	.form-container {
		margin: auto;
		max-width: 500px;
		width: 90%;
	}
	textarea {
		padding: 8px 12px;
		width: 100%;
		max-height: 150px;
	}
}

.section--shop {
	background-color: $color-dark-blue;
	color: #fff;
}

.section--video {
	background:$color-dark-blue;
	color: #fff;
	.single-video-container{
		margin:50px auto;
		max-width: 700px;
	}
	.video-title {
		margin: 20px 0;
		font-weight: normal;
	}
}