.button {
	transition: background-color .4s;
	outline: none!important;
	border:none;
	border-radius: 3px;
	padding: 4px 20px;
	font-size: 1.2em;
	text-decoration: none!important;
	color: #fff;
	&:hover {
		cursor: pointer;
	}
}

.button--elegant {
	background-color: darken($color-elegant-gray,10);
	&:focus {
		color: darken(#fff,4);
	}
	&:hover,
	&:active {
		background-color: $color-elegant-red;
		color: darken(#fff,4);
	}
}

.button--dark-blue {
	background-color: $color-dark-blue;
	&:hover,
	&:active {
		background-color: $color-elegant-red;
	}
}


.woocommerce .return-to-shop a.button,
%button--transparent-red {
	border: 2px solid #fff;
    border-radius: 8px;
    padding: 6px 17px;
	background-color: transparent;
	font-size: 1.2em;
	font-weight: normal;
	color: #fff;
    &:hover {
		background-color: $color-elegant-red;
    }
}

#customer_login form input.woocommerce-Button.button,
#shop-section form input[name="wc_reset_password"]+input.woocommerce-Button.button {
	@extend %button--transparent-red;
}