body.woocommerce-cart {
	.wc-proceed-to-checkout {
		padding: 0;
	}
	.cart-collaterals .cart_totals  {
		float: none;
		margin: auto;
	}
	.cross-sells {
		display: none;
	}
	#woo_pp_ec_button {
		padding:0;
	}
}