#nav--main {
	position: fixed;
	z-index: 100;
	top: 0;
	animation-delay: .3s;
	transition:all .8s;
	padding: 8px 0 0;
	background-color: rgba(255,255,255,.2);
	width: 100%;
	min-height: 60px;
	text-align: center;
	@media(min-width: $screen-lg){
		padding:0 0 3px 0;
	}
	 @media (-ms-high-contrast: active), (-ms-high-contrast: none) {  
      	padding-top: 8px;
  	}
}

#nav--main.scrolledNav {
	transition:all .8s;
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
	min-height: 30px;
	background-color: rgba(65,81,97,1);
	@media(max-width: $screen-md - 1){
		padding-bottom: 5px;
	}
	@media(min-width: $screen-md){
		padding-bottom: 5px;
	}
	@media(min-width: $screen-lg){
		padding-bottom: 0;
	}
}

#navbarToggler {
	clear: both;
	width: 100%;
	&>ul {
		padding-left: 15px;
	}
}

// Navbar brand
.navbar-light .navbar-brand {
	transition:color .4s;
	padding-left: 15px;
	color: #fff;
	&:hover {
		color: #525252;
	}
}

// Nav links color setup
.navbar-light .navbar-nav {
	@at-root %nav__cart,
	.menu-item a,
	 {
		display: block;
		transition: all .4s;
		padding: 8px 8px 8px 30px;
		background-size: 16px;
		background-repeat: no-repeat;
		background-position:left center;
		color: $color-nav-links;
		&:focus,
		&:hover {
			color: #fff;
		}
	}
	.current-menu-item > a{
		color: #fff;
	}
	.home-link>a {
		background-image: url('img/header/nav-icons/home.png');
		background-position: left 45%;
	}
	.video-link>a {
		background-image: url('img/header/nav-icons/video.png');
	}
	.shop-link>a {
		background-image: url('img/header/nav-icons/shirt.png');
	}
	.user-link>a {
		background-image: url('img/header/nav-icons/user.png');
	}
}

.menu-item:not(:first-child) {
	@media(min-width: $screen-lg) {
		padding-left: 15px;
	}
}