.navbar-toggler {
	margin-right: 15px;
	outline: none!important;
	height: 40px;
	cursor: pointer;
	&.togglerScrolled {
		height: 35px;
	}
}

// Animation
.hamburger-menu {
	display: block;
	transition: all .2s;
	border-radius: 10px;
	width: 30px;
	height: 3px;
	background-color: $color-elegant-red; // Expended
	&:not(:first-child) {
		margin-top: 5px;
	}
	&:first-child {
		transform:translateX(4.4px) rotate(45deg); // 4.4px = (30px - (30px * 0.7071)) / 2
		transform-origin: 10% 10%;
	}
	&:nth-child(2) {
		opacity: 0;
	}
	&:nth-child(3) {
		transform:translateX(4.4px) rotate(-45deg);
		transform-origin: 10% 90%;
	}
	&.hambgScrolled {
		width: 20px;
		height: 1px;
		&:first-child {
			transform:translateX(1.99px) rotate(45deg);
			transform-origin: 10% 10%;
		}
		&:nth-child(2) {
			opacity: 0;
		}
		&:nth-child(3) {
			transform:translateX(1.99px) rotate(-45deg);
			transform-origin: 10% 90%;
		}
	}
}

// Collapsed
#nav--main {
	button.navbar-toggler {
		border-color:$color-elegant-red;
	}

	.navbar-toggler.collapsed {
		border-color: #e4e4e4;
		.hamburger-menu {
			background-color: #e4e4e4;

			&:first-child {
				transform:translateX(0) rotate(0);
			}
			&:nth-child(2) {
				opacity: 1;
			}

			&:nth-child(3) {
				transform:translateX(0) rotate(-0);
			}
		}
	}
}