.kvc_pagination{
	@include abs-centered(horizontal);
	clear:both;
	font-size:16px;
	line-height:13px;
}

.kvc_pagination span, .kvc_pagination a {
	float:left;
	display:block;
	margin: 2px 2px 2px 0;
	padding:6px 9px 5px 9px;
	width:auto;
	background: #555;
	text-decoration:none;
	color:#fff;
}

.kvc_pagination a:hover{
	background: #c56a6c;
	color:#fff;
}

.kvc_pagination .current{
	padding:6px 9px 5px 9px;
	background: #c56a6c;
	color:#fff;
}