#shop-section {
	.col-lg-3,
	.col-md-6 {
		display: flex;
		justify-content:center;
		margin-bottom: 35px;
	}
	.shop-item-link {
		transition:box-shadow .4s;
		color:#fff!important;
		&:hover {
			box-shadow: 0 1px 5px 5px rgba(154,154,154,.62);
		}	
		&:hover .shop-item-card {
			border-radius: 0;
		}	
	}
	.shop-item-link--added {
		.item-img{
			opacity: .4;
			transition:opacity .6s;
		}
		.shop-item-card:before {
			content: "Added";
			position: absolute;
			z-index: 20;
			display: block;
			width: 170px;
			height: 170px;
			line-height: 170px;
			font-size: 1.5em;
			font-weight: bold;
			letter-spacing: 1px;
			color: #fff;
		}
		&~.button--add-to-cart {
			opacity: 0;
			transition:opacity 1s;
		}
		&~.added_to_cart {
			position: absolute;
			bottom: 10px;
			text-align: center
		}
		&~.added_to_cart {
			@extend .button;
			@extend .button--add-to-cart;
			opacity: 1;
			background-color: $color-elegant-red;
		}
	}
	.shop-item-card {
		transition:all .6s;
		border:2px solid #fff;
		border-radius: 10px;
		padding: 15px 15px 35px 15px;
		max-width: 220px;
		text-align: center;
	}
	.item-title {
		margin: 15px 0;
		font-size: 1.5em;
		font-weight: normal;
		color: #fff;
	}
	.item-img {
		max-width: 170px;
	}
	.item-price {
		font-size: 1.2em;
		color: $color-price;
		ins {
			text-decoration: none;
		}
	}
}

.button--add-to-cart {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform:translateX(-50%);
	border:2px solid #fff;
	border-radius: 8px;
	padding: 2px 17px;
	text-align: center;
	color: #fff!important;
	&:hover {
		background-color: $color-elegant-red;
		text-decoration: none;
		color: #fff;
	}
}

a.reset_variations {
	@extend .button--add-to-cart;
	position: static;
	transform:translate(0,0);
	margin-left: 15px;
	&:after {
		content: " selection";
	}
}

body.post-type-archive-product .woo-container {
	text-align: center;
}

.cart-customlocation {
	margin-left: 15px;
	background-image: url('img/header/nav-icons/cart.png');
	text-align: left;
	@extend %nav__cart;
}